@model WebApp.Areas.Admin.Models.LoaiSPViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/ACE_Layout_Admin.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div class="row">

        <div class="col-lg-6">
            <!-- Form Basic -->
            @using (Html.BeginForm())
            {
                <div class="card mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Tạo mới loại sản phẩm</h6>
                    </div>
                    <div class="card-body" style="margin-top:-13px">
                        <div class="form-group">
                            <label>Tên loại sản phẩm</label>
                            @Html.TextBoxFor(model => model.Ten, new { @class = "form-control" })
                        </div>
                        <button class="btn btn-mini btn-primary" id="Save" type="submit" name="Submit">
                            <i class="ace-icon fa fa-save"></i> Lưu
                        </button>
                    </div>

                </div>
            }
        </div>
    </div>
</div>
<script>
    $("#Save").click(function () {
        var tenloai = $('#Ten').val();
        if (tenloai == "") {
            swal({
                text: "Chưa nhập tên loại sản phẩm!",
                icon: "warning",
                button: "Đồng ý",
            });
            return false;
        }
    });
</script>

