@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/ACE_Layout_Admin.cshtml";
}
@using (Html.BeginForm())
{
    <div class="container-fluid" id="container-wrapper">
        <div class="row">
            <div class="col-lg-6">
                <!-- Form Basic -->
                <div class="card mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Tạo mới nhà cung cấp</h6>
                    </div>
                    <div class="card-body" style="margin-top:-13px">
                            <div class="form-group">
                                <label>Tên nhà cung cấp</label>
                                <input class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input class="form-control" />
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- General Element -->
                <div class="card mb-4">
                    <div class="card-body">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Địa chỉ</label>
                                <input class="form-control" />
                            </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Tỉnh/Thành phố</label>
                            <input class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect2">Quận/Huyện</label>
                            <input class="form-control" />
                        </div>
                           <button class="btn btn-mini btn-primary" id="Save" type="submit" name="Submit">
                                <i class="ace-icon fa fa-save"></i> Lưu
                           </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



