@using Microsoft.AspNetCore.Http;
@using WebApp.Helper;
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cinagro</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5">
    <!-- Framework Css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/lib/bootstrap.min.css">
    <!-- Font Awesome / Icon Fonts -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/lib/font-awesome.min.css">
    <!-- Owl Carousel / Carousel- Slider -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/lib/owl.carousel.min.css">
    <!-- Video YouTube -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/lib/lazyYT.min.css">
    <!-- Carousel- Slider / Vertical -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/lib/slick.css">
    <!-- Style Theme -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <!-- Responsive Theme -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">
    <style>
        /*swal alert*/
        .swal-button {
            padding: 7px 19px;
            border-radius: 2px;
            background-color: #4962B3;
            font-size: 12px;
            border: 1px solid #3e549a;
            text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
        }

        .swal-text {
            background-color: #FEFAE3;
            padding: 17px;
            border: 1px solid #F0E1A1;
            display: block;
            margin: 22px;
            text-align: center;
            color: #61534e;
        }
        /*end*/
    </style>
</head>
<body>
    <div class="wrapper">

        <!--===================== Header ========================-->
        <header>
            <div class="top-bar bg-black">
                <div class="container-large">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 text-left">
                            <ul>
                                <li><a href="contact.html">Liên hệ với chúng tôi</a></li>
                                <li><a href="contact.html">Hỗ trợ</a></li>
                            </ul><!--right-top-bar-->
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            <ul>
                                @if (Context.Session.GetString("username") == null)
                                {
                                    <li><a asp-action="DangNhap" asp-controller="TaiKhoan">Đăng nhập</a></li>
                                }
                                else
                                {
                                    <li><a href="#">Xin chào : @Context.Session.GetString("username") | </a></li>
                                    <li><a asp-controller="TaiKhoan" asp-action="DSDonHang">Lịch sử đơn hàng</a></li>
                                    <li>
                                        @using (Html.BeginForm("DangXuat", "TaiKhoan", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            <button type="submit" style="background-color: black;color: white;">Đăng xuất</button>

                                        }
                                    </li>
                                }
                            </ul><!--right-top-bar-->
                        </div>
                    </div>
                </div>
            </div><!--top-bar-->
            <div class="container-large header">
                <div class="row">
                    <div class="col-md-5 col-sm-4 col-xs-4">
                        <ul class="menu">
                            <li><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                            @foreach (var item in Comon.loaisp())
                            {
                                <li><a asp-action="DSSanPham" asp-controller="SanPham" asp-route-id="@item.Id">@item.Ten</a></li>
                            }
                        </ul><!--menu-->
                        <button type="button" class="menu-button">
                            <span></span>
                        </button>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-3 text-center">
                        <div class="logo"><a href="index.html"><img src="~/assets/images/logo.png" alt="logo"></a></div>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5 text-right">
                        <ul class="info-header">
                            <li><a href="#"><i class="fa fa-volume-control-phone"></i>+91-141-4007601</a></li>
                            <li class="search-icon"><a href="#"><i class="fa fa-search"></i>Tìm kiếm</a></li>
                            <li class="cart">
                                <a asp-action="GioHang" asp-controller="Home"><i class="fa fa-shopping-bag"></i>Giỏ hàng</a>
                            </li>
                        </ul><!--info-header-->
                    </div>
                </div>
                <form class="search">
                    <input type="text" placeholder="Search...">
                    <span class="close"><img src="~/assets/images/close2.png" alt="close"></span>
                </form>
            </div>
        </header>
        <!--============== End of Header ========================-->
        @RenderBody()
        <!--===================== Footer ========================-->
        <footer class="bg-yellow">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="subscribe text-center">
                            <h2>Join our secret society</h2>
                            <form>
                                <div class="form-group">
                                    <input type="text" placeholder="Enter your email...">
                                    <div class="custom-btn bg-black text-yellow">enter</div>
                                </div>
                            </form>
                        </div><!--subscribe-->
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="widget-page">
                            <h4 class="widget-title">Customer Care</h4>
                            <a href="404.html">Register</a>
                            <a href="404.html">My Account</a>
                            <a href="404.html">Track Order</a>
                        </div><!--widget-page-->
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="widget-page">
                            <h4 class="widget-title">FAQ</h4>
                            <a href="404.html">Ordering Info</a>
                            <a href="404.html">Shipping &amp; Delivery</a>
                            <a href="404.html">Our Guarantee</a>
                        </div><!--widget-page-->
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="widget-page">
                            <h4 class="widget-title">Our company</h4>
                            <a href="404.html">About</a>
                            <a href="blog.html">Press</a>
                            <a href="single-product.html">Products</a>
                        </div><!--widget-page-->
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="widget-contact">
                            <h4 class="widget-title">contact usy</h4>
                            <address>123 6th St. Melbourne, FL 32904<br>Phone: (125) 546-4478<br>Email: yesorganic.com</address>
                        </div><!--widget-contact-->
                    </div>
                </div>
                <div class="copyright">
                    <p>Copyright &copy; 2018 cinagro. Theme by <a href="https://fruitfulcode.com/">fruitfulcode</a></p>
                </div>
            </div>
            <div id="back-to-top"><i class="fa fa-angle-up"></i></div>
        </footer>
        <!--================= End of Footer =====================-->
    </div><!--wrapper-->

    <script src="~/assets/js/lib/jquery.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="~/assets/js/lib/owl.carousel.min.js"></script>
    <script src="~/assets/js/lib/jquery-ui.min.js"></script>
    <script src="~/assets/js/lib/TweenMax.min.js"></script>
    <script src="~/assets/js/lib/lazyYT.js"></script>
    <script src="~/assets/js/lib/masonry.pkgd.min.js"></script>
    <script src="~/assets/js/lib/jquery.filterizr.min.js"></script>
    <script src="~/assets/js/lib/slick.min.js"></script>
    <script src="~/assets/js/lib/jquery.counterup.min.js"></script>
    <script src="~/assets/js/lib/waypoints.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @*<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@

</body>
</html>